opencv-python
numpy
pillow
torch
torchvision
facenet-pytorch
ultralytics
shapely
tqdm
av
requests
yt-dlp
fer
aiortc
aiohttp
fastapi
uvicorn[standard]
websockets
deep-sort-realtime
librosa
mtcnn
python-multipart
sounddevice
lap>=0.5.12
insightface
onnxruntime
